%h1 Which maneuver are you judging?
%hr

%ul.list-group.maneuvers
  - @maneuvers.each do |maneuver|
    %li.list-group-item= link_to maneuver.name, next_participant_maneuver_path(maneuver)
  %li.list-group-item= link_to 'Onboard Judging', select_participant_onboard_judgings_path
  %li.list-group-item= link_to 'Loading / Unloading 10-23', select_participant_wheelchair_maneuvers_path
