.scoreboard
  - if @participants.present?
    %h1 Scoreboard
    %hr

    = label_tag 'Sort by:'
    .scoreboard-sorting.btn-group
      - Participant::SORT_ORDERS.each do |sort_order|
        %button.btn.scoreboard-order{type: :button,
          data: { order: sort_order},
          class: sort_order_button_class(sort_order, @sort_order) }= sort_order.to_s.humanize
    %button.btn.btn-primary.pull-right.fullscreen
      %span.glyphicon.glyphicon-resize-full
    = image_tag 'loading.gif', class: 'scoreboard-sort-loading hidden'
    .scoreboard-content= render partial: 'scoreboard_partial'
    = subscribe_to '/scoreboard'
  - else
    No participants yet.
