.faye-test .test{
  font-size: 30px;
}

.faye-test .failure{
  background-color: #e8b5b5;
  border: 3px solid #d16b6b;
  border-radius: 6px;
  margin-top: 10px;
  text-align: center;
}

.faye-test .failure-reason{
  font-size: 12px;
}

.faye-test .success{
  background-color: #b5e8ce;
  border: 3px solid #7ad6a7;
  border-radius: 6px;
  margin-top: 10px;
  text-align: center;
}
