.scoring h1{
  font-size: 50px;
}

.scoring h2{
  font-size: 40px;
}

.scoring h3{
  font-size: 30px;
}

.actions{
  margin-top: 10px;
}

.scoring .field{
  margin-top: 5px;
}

.scoring input[type=checkbox]{
  margin-left: 10px;
  transform: scale(2,2);
}

.scoring input[type=number]{
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 60px;
  padding-left: 10px;
  width: 100px;
}

.scoring select{
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: inline;
  font-size: 30px;
  height: 60px;
  padding-left: 10px;
  width: 10em;
}

.scoring .btn-primary, .scoring .btn-secondary{
  height: 120px;
  margin-top: 10px;
}

.scoring button.increment{
  width: 120px;
  border-radius: 10px;
  font-size: 50px;
}

.scoring .btn.submit{
  font-size: 30px;
}

.scoring button.actions{
  font-size: 30px;
}
