table.vehicles th{
  text-align: center;
}

table.vehicles td{
  padding: 5px;
}

table.vehicles .btn-primary.delete{
  background-color: #b73434;
}

.vehicles input{
  font-size: 30px;
  height: 60px;
}
